@mixin w {
  width: 200px;
  height: 200px;
}

.container1,
.container2 {
  color: black;
  padding: 20px;
  box-sizing: border-box;
}

@import 'container/container';
@import 'container/bkg';

body {
  display: flex;
}
